{{#d-section pageClass="work"}}
  <div class="container">
    <div class='directory'>
      {{#if currentMonth.length}}
        <div class="work-data-table-container work-container">
          <div class="title">
            <span>{{monthName}}</span>
            <div class="controls">
              {{combo-box content=months value=month}}
              {{combo-box content=years value=year}}
            </div>
          </div>
          <table>
            <thead>
              <th>User</th>
              {{#each workPropNames as |prop|}}
                <th>{{i18n (concat 'admin.work.' prop)}}</th>
              {{/each}}
            </thead>
            <tbody>
              {{#each currentMonth as |m|}}
                <tr>
                  <td>{{m.user.username}}</td>
                  {{#each workPropNames as |prop|}}
                    <td>{{renderProp m prop}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        
        {{#if chartModel}}
          <div class="work-data-chart-container work-container">
            <div class="title">
              <span>Snapshot</span>
              <div class="controls">
                {{combo-box content=workProps value=chartProp}}
              </div>
            </div>
            {{work-data-chart model=chartModel}}
          </div>
        {{/if}}
      {{else}}
        <div class='clearfix'></div>
        <p>No Results</p>
      {{/if}}
    </div>
  </div>
{{/d-section}}