<section>  
  <div class="control-group">
    <label>{{i18n 'user.work.earnings_target_month'}}</label>
    <div class="controls">
      {{input type="integer" value=model.earnings_target_month}}
    </div>
  </div>
  
  <div class="control-group">
    <label>{{i18n 'user.work.actual_hours_target_month'}}</label>
    <div class="controls">
      {{input type="integer" value=model.actual_hours_target_month}}
    </div>
  </div>
  
  <div class="work-controls">
    {{d-button action="save" label="user.work.save"}}
    {{#if saving}}
      <span>{{i18n 'user.work.saving'}}</span>
      {{loading-spinner size="small"}}
    {{/if}}
  </div>
</section>